body {
    height: 100vh;
}

.chart-container {
    position: relative;
    height: 300px;
    width: 300px;
    margin: auto;
}

.text-red {
    color: red;
}

.home-background {
    background-image: '/img/projectio-bg.jpg'
}