<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head th:fragment = "headContent">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title th:include=":: #pageTitle">Layout Generic Title</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>


    <nav th:fragment = "navbarContent" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Project IO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    <a sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" th:href="@{/dashboard}" class="nav-link">Dashboard</a>
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/employees}">Employees</a>
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/projects}">Projects</a>
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/projects/timelines}">Projects Timelines</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/projects/my-projects}" class="nav-link">My Projects</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/employees/edit-my-profile}" class="nav-link">Edit My Profile</a>
                    <a sec:authorize="isAuthenticated()" th:if="${#authentication.name != 'testadmin'}" th:href="@{/security/edit-security}" class="nav-link">Account Security</a>
                    <a sec:authorize="isAnonymous()" th:href="@{/login}" class="nav-link">Login</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="nav-link">Logout</a>
                </div>
            </div>
        </div>
    </nav>


    <footer th:fragment = "footerContent" class="footer mt-auto py-3 bg-dark">
        <div class="container-fluid text-center">
            <span class="text-muted footertext"></span>
        </div>
    </footer>
    <script th:fragment = "bootstrapJS" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script th:fragment = "footerJS" type="text/javascript" th:src="@{/js/footerDate.js}"></script>

</html>